
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(21, 20, 20);
    color:white;
}

/* Navbar */


.navbar{
    position: fixed;
    background-color: black;
    border-radius: 10px gold;
    top: 0;
    width: 100%;
    z-index: 999;
}


.navbar-brand {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.navbar-brand:hover {
    color: gold;
}

.nav-link {
    color: white !important;
    font-size: 16px;
    transition: 0.3s;
}

.nav-link:hover {
    color: gold !important;
}

/* =====================
   HOME SECTION
===================== */

.home {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
  justify-content: center;
  padding: 60px 10%;
}

.name h1 {
  font-size: 3.2rem;
  margin-bottom: 5px;
}

.name h2 {
  font-size: 1.6rem;
  color: gold;
  margin-bottom: 20px;
}

.pic img {
  width: 400px;
  border-radius: 50%;
  box-shadow: 0 0 18px rgba(0,0,0,0.15);
}

/* Buttons */
.btns {
  display: flex;
  gap: 15px;
}

.btns button {
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  background: gold;
  color: black;
  border-radius: 40px;
  transition: 0.3s;
}

.btns button:hover {
  transform: scale(1.05);
  background: white;
  color:black
}

/* About */

.about{
  width: 100%;
  min-height: 100vh;
  padding: 60px 10%;
  display: flex;
  align-items: center;        /* vertically center image & text within section */
  justify-content: space-between;
}

.about-img img{
  width: 400px;
  border-radius: 10px ;
}

.about-content{
  max-width: 600px;
}

.about h1{
  margin-bottom: 40px;
  font-size: 36px;
}

.hero p{
  font-size: 16px;
  line-height: 1.8;
}

.details p{
  margin: 6px 0;
}

@media(max-width:768px){
  .about{
    flex-direction: column;
    text-align: center;
  }

  .about-content{
    margin-top: 20px;
  }
}



/* ===================================================
   SKILLS
=================================================== */

#Skills{
    padding: 80px 5%;
    text-align: center;
}

#Skills h1{
    margin-bottom: 40px;
}

#cards{
    display:flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-card{
    width: 300px;
    height: 220px;
    background-color: white;
    color:black;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(255,193,7,0.2);
    transition: 0.3s;
}

.skill-card:hover{
    transform: translateY(-7px) scale(1.02);
    box-shadow: 10px 2px 10px 2px gold;
}

.skill-card img{
    width: 200px;
}



.skill-card h6{
    margin-top: 10px;
}

/* ===================================================
   PROJECTS
=================================================== */

#Projects{
    padding: 80px 5%;
    text-align: center;
}

#works{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}


.project-card{
    width: 450px;
    background:white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    color:black;
    margin: 15px;
    display: inline-block;
}

.project-card:hover{
  
    box-shadow: 10px 2px 10px 2px gold;

    transform: translateY(-10px);

}

.project-card img{
    width: 100%;
    border-radius: 12px;
}

/* Project Buttons */

.project-links{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.demo-btn{
    background: gold;
    color: black;
}

.git-btn{
    background: gold;
    color:black;
}

.btn{
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
}

.btn:hover{
    opacity: 0.85;
    background-color: black;
}

/* Contact*/

#Contact{
    text-align: center;
    padding: 70px 15px;
}

.slog{
    font-size: 17px;
    margin: 8px 0 20px;
    color: #ccc;
}

#Contact p{
    margin: 5px 0;
}

.social-icons a{
    transition: 0.3s;
}

.social-icons a:hover{
    color: #ffc107!important;
}

/* Footer */

footer{
    background: #000;
}



section{
    opacity: 0;
    transform: translateY(40px);
    transition: 0.7s ease;
}

section.show{
    opacity: 1;
    transform: translateY(0);
}

/* Responsive */

@media(max-width:768px){

    .hero-section{
        flex-direction: column-reverse;
        text-align: center;
    }

    .name h1{
        font-size: 38px;
    }

    .pic img{
        width: 240px;
        margin-bottom: 25px;
    }

    #About{
        justify-content: center;
        text-align: center;
    }
}


#skills{
  background:#0f172a;
  padding:60px 10%;
  color:#fff;
}
#skills h2{
  text-align:center;
  font-size:2.1rem;
  margin-bottom:35px;
}

.skills-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
  gap:25px;
}

.skill{
  
  padding:18px;
  border-radius:16px;
  text-align:center;
  transition:.3s ease;
}
.skill:hover{
  transform:translateY(-8px);
}

.skill img{
  width:55px;
  margin-bottom:12px;
}

.skill h4{
  margin-bottom:8px;
}

.bar{
  width:100%;
  height:7px;
  background:#334155;
  border-radius:8px;
  overflow:hidden;
}

.bar span{
  display:block;
  height:100%;
  width:0;
  background:#38bdf8;
  border-radius:8px;
  transition:2s ease;
}
